<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perkembangan Aktivitas Laboratorium</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% include 'link.html' %}
    <link href="static/chat_style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        {% include 'sidebar.html' %}
        <div class="content">
            {% include 'navbar.html' %}
            <div class="container mt-5">
                <h2 class="mb-4">Perkembangan Aktivitas Laboratorium</h2>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary rounded-circle position-fixed"
        style="bottom: 20px; right: 20px; z-index: 100;" data-toggle="modal" data-target="#chatModal">
        <i class="fas fa-comment-alt"></i> Chat
    </button>
    {% include 'chat.html' %}
    <script src="{{ url_for('static', filename='chat.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script>
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                var years = data.years;
                var counts = data.counts;

                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: years,
                        datasets: [{
                            label: 'Jumlah Proyek Selesai',
                            data: counts,
                            fill: true,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    </script>
</body>

</html>
